<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Prediction System</title>
</head>
<body>
    <style>
        body {
            background-image: url("https://www.almanac.com/sites/default/files/image_nodes/iris-flowers.jpg");
            background-repeat: no-repeat;
            background-size: 100% 210%;
        }
    </style>
        </head>
    
    <h1> Iris Prediction System </h1>

    <form method="GET" action ="/predicted_data">

            <label>SepalLengthCm:</label>
            <input type = "text" name = "SepalLengthCm">
            </select>

            <br>
            <br>

            <label>SepalWidthCm:</label>
            <input type = "text" name = "SepalWidthCm">
            </select>

            <br>
            <br>    

            <label>PetalLengthCm:</label>
            <input type = "text" name = "PetalLengthCm">
            </select>


            <br>
            <br>

            <label>PetalWidthCm:</label>
            <input type = "text" name = "PetalWidthCm">
            </select>


            <br>
            <br>
  
            <br>
            <input type = "submit" value = "SUBMIT">

            <br>
            <p>Species is: <b>{{ prediction }}</b></p>

        </form>


</body>


</html>

